#####################################################################
# 	                 Cartographer V3 （ADXL345）
#####################################################################

# [scanner]
# canbus_uuid: 8dbb900403da
# #    Fill in the UUID that was just recorded           
# x_offset: 0                          
# #    adjust for your cartographers offset from nozzle to middle of coil
# y_offset: 21.1                         
# #    adjust for your cartographers offset from nozzle to middle of coil
# backlash_comp: 0.00435
# #   Backlash compensation distance for removing Z backlash before measuring
# #   the sensor response.
# #   Offsets are measured from the centre of your coil, to the tip of your nozzle 
# #   on a level axis. It is vital that this is accurate. 
# #    leave this as touch unless you want to use scan only for everything. 
# sensor: cartographer
# #    this must be set as cartographer unless using IDM etc.
# sensor_alt: carto
# #    alternate name to call commands. CARTO_TOUCH etc
# scanner_touch_z_offset: 0.05         
# #    This is the default and will be overwritten and added to the DO NOT SAVE area by using UI to save z offset
# mesh_runs: 2
# #    Number of passes to make during mesh scan.
# samples_tolerance: 0.1
# scanner_touch_tolerance: 0.03


# [adxl345]
# cs_pin: scanner:PA3        # Chip select pin for ADXL345 accelerometer
# spi_bus: spi1                   # SPI bus used for communication